<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='board.js') }}" defer></script>
    <title>Chess</title>
</head>
<body>
    <h1>Chess Game</h1>
    
    <div class="board">
    </div>
    
    <div class="buttons">
        <a href="{{ url_for('index') }}">Return To Home</a>
        <button onclick="submitMove()">Submit Move</button>
    </div>

</body>
</html>