<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Chess</title>
</head>
<body>
    <h1>Chess AI</h1>

    <a class="begin" href="board.html">
        <img src="../static/img/chess_icon.png" width="150px" height="150px">
    </a>

    <p>
        I am Gary Perez, and my colleague Go Khai created a chess game
        that implements a Neural Network to create a Chess Engine.
        Our game is built in python in the backend using python-chess
        library for the game’s rules, and Tensorflow Keras API to build
        the neural network. We trained our neural network on over 200 million
        chess position evaluations so it could somewhat accurately predict
        the chess evaluation number for each position.
    </p>
    
</body>
</html>